/* Стили для инпута */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h2 {
  margin-bottom: 50px;
  font-size: 32px;
}

.container {
  padding: 20px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.input-style {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f9f9f9;
  color: #333;
}

.input-style:focus {
  border-color: #45a049;
  box-shadow: 0 0 8px rgba(69, 160, 73, 0.6);
}

/* Стили для кнопки */
.button-style {
  padding: 13px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 28px;
}

.button-style:hover {
  background-color: #45a049;
}

.button-style:active {
  transform: scale(0.98);
}

.button-style:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(69, 160, 73, 0.6);
}

label {
  display: flex;
  flex-direction: column;
  width: 26%;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
}

label span {
  margin-bottom: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

table.show {
  opacity: 1;
}

th,
td {
  border: 2px solid #4CAF50;
  padding: 2px;
  text-align: left;
  font-size: 12px;
  font-family: "JetBrains Mono", monospace;

}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.note {
  margin-top: 20px;
  font-size: 14px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}